<div class="col col-6 md-col-4 lg-col-3">
    <div class="mt4">
        <div class="center">
            <p class="bold caps gray h4 mb1 truncate">{{getDream @root.dreams number}}</p>
            <div>
                <p class="bg-white black bold border box box-shadow h2 inline-block py2 rounded">{{pad number}}</p>
            </div>
            <a href="#!" class="black toggle js-toggle {{getClassIfActive @root.user.numbers number}}" data-number="{{number}}">Seguir</a>
        </div>
    </div>
</div>
