<div class="container px2 py4">
    <div class="right-align">
        <a href="/logout" class="bg-red bold border btn caps rounded text-shadow white">Cerrar sesión</a>
    </div>
    <h2 class="border-bottom caps mb4 mt4 pb2">Sorteos del día</h2>
    <div id="loading">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
    </div>
    <p id="message" class="bg-white border box-shadow hide m0 p2 rounded"></p>
    <div id="table" class="hide">
        <h3 class="mb2 mt0">Nacional</h2>
        <div class="clearfix center">
            {{> white-box playName="La Primera" playTime="11:30 hs" id="nacional-primera"}}
            {{> white-box playName="Matutina" playTime="14:00 hs" id="nacional-matutina"}}
            {{> white-box playName="Vespertina" playTime="17:30 hs" id="nacional-vespertina"}}
            {{> white-box playName="Nocturna" playTime="21:00 hs" id="nacional-nocturna"}}
        </div>
        <h3 class="h3 mb2 mt4">Provincia</h2>
        <div class="clearfix center">
            {{> white-box playName="La Primera" playTime="11:30 hs" id="provincia-primera"}}
            {{> white-box playName="Matutina" playTime="14:00 hs" id="provincia-matutina"}}
            {{> white-box playName="Vespertina" playTime="17:30 hs" id="provincia-vespertina"}}
            {{> white-box playName="Nocturna" playTime="21:00 hs" id="provincia-nocturna"}}
        </div>
    </div>
    <h2 class="border-bottom caps mb0 mt4 pb2">Mis suscripciones</h2>
    <div id="toggles">
        <div class="clearfix">
            {{#times 100}}
                {{> follow-number number=this}}
            {{/times}}
        </div>
    </div>
</div>
<script defer src="/js/app.js"></script>
