<div class="container px2 py4">
    <div id="spinner" class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <div id="table" class="hide">
        <h2 class="mb2 mt0">Nacional</h2>
        <div class="clearfix">
            <div class="col col-3">
                <p class="mb0">Primera</p>
                <p id="nacional-primera" class="bold caps h3 mb0"></p>
            </div>
            <div class="col col-3">
                <p class="mb0">Matutina</p>
                <p id="nacional-matutina" class="bold caps h3 mb0"></p>
            </div>
            <div class="col col-3">
                <p class="mb0">Vespertina</p>
                <p id="nacional-vespertina" class="bold caps h3 mb0"></p>
            </div>
            <div class="col col-3">
                <p class="mb0">Nocturna</p>
                <p id="nacional-nocturna" class="bold caps h3 mb0"></p>
            </div>
        </div>
        <h2 class="mb2 mt4">Provincia</h2>
        <div class="clearfix">
            <div class="col col-3">
                <p class="mb0">Primera</p>
                <p id="provincia-primera" class="bold caps h3 mb0"></p>
            </div>
            <div class="col col-3">
                <p class="mb0">Matutina</p>
                <p id="provincia-matutina" class="bold caps h3 mb0"></p>
            </div>
            <div class="col col-3">
                <p class="mb0">Vespertina</p>
                <p id="provincia-vespertina" class="bold caps h3 mb0"></p>
            </div>
            <div class="col col-3">
                <p class="mb0">Nocturna</p>
                <p id="provincia-nocturna" class="bold caps h3 mb0"></p>
            </div>
        </div>
    </div>
</div>