<div class="center mw8-l ph3 pv5">
    <div class="cf">
        <div class="fl-l w-30-l">
            {{> login}}
        </div>
        <div class="fl-l w-70-l">
            <div class="pl4-l">
                <h2 class="mb3 mt0 ttu">¿Qué es esto?</h2>
                <p class="ma0"><span class="b">Mortadeloo</span> es una aplicación para estar atento a los números de la quiniela en Argentina</p>
                <h2 class="mb3 mt5 ttu">¿Cómo funciona?</h2>
                <p class="ma0">Utilizá tu cuenta de <span class="b">Twitter</span> para acceder a la aplicación. Una vez adentro, vas a poder:</p>
                <ul class="mb0 mt3 pl4">
                    <li class="mb3">Consultar los primeros premios de las jugadas del día (<span class="b">LaPrimera, Matutina, Vespertina y Nocturna</span>) en las quinielas <span class="b">Nacional</span> y <span class="b">Provincia</span></li>
                    <li><span class="b">Suscribirte a resultados</span>: Decinos a que números querés seguir (Cualquiera, del 00 al 99) y te vamos a enviar un tweet después de cada sorteo si ese número salió</li>
                </ul>
                <h2 class="mb3 mt5 ttu">Eliminar mi cuenta</h2>
                <p class="ma0">Es súper sencillo. Busca el botón <span class="b">Eliminar mi cuenta</span> en tu perfil</p>
            </div>
        </div>
    </div>
</div>
