<div class="container px2 py4">
    <div class="clearfix">
        <div class="col col-12 md-col-4">
            {{> login}}
        </div>
        <div class="col col-12 md-col-8">
            <div class="md-pl3">
                <h2 class="border-bottom caps mb2 mt0 pb2">¿Qué es esto?</h2>
                <p class="m0"><span class="bold">Mortadeloo</span> es una aplicación para estar atento a los números de la quiniela en Argentina</p>
                <h2 class="border-bottom caps mb2 mt4 pb2">¿Cómo funciona?</h2>
                <p class="m0">Utilizá tu cuenta de <span class="bold">Twitter</span> para acceder a la aplicación. Una vez adentro, vas a poder:</p>
                <ul class="mb0 mt2">
                    <li class="mb2">Consultar los primeros premios de las jugadas del día (<span class="bold">LaPrimera, Matutina, Vespertina y Nocturna</span>) en las quinielas <span class="bold">Nacional</span> y <span class="bold">Provincia</span></li>
                    <li><span class="bold">Suscribirte a resultados</span>: Decinos a que números querés seguir (Cualquiera, del 00 al 99) y te vamos a enviar un tweet después de cada sorteo si ese número salió</li>
                </ul>
            </div>
        </div>
    </div>
</div>
