<!DOCTYPE html>
<html lang="es">
<head>
    <title>Mortadeloo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxygen:400,700">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="bg-white border-bottom px2 py3">
        <h1 class="center m0">
            <a href="/" class="black">Mortadeloo</a>
        </h1>
    </header>
    <div class="bg-lighten-5">
        {{{body}}}
    </div>
    <footer class="bg-white border-top center px2 py3">
        <div class="container">
            <p class="m0">Puedes contribuir a este proyecto en <a href="https://github.com/durancristhian/mortadeloo" target="_blank" class="blue bold caps">Github</a> o contactarme por <a href="https://twitter.com/DuranCristhian" target="_blank" class="blue bold caps">Twitter</a></p>
        </div>
    </footer>
</body>
</html>
