<!DOCTYPE html>
<html lang="es" class="bg-white lh-copy sans-serif">
<head>
  <title>Mortadeloo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body class="bg-near-white">
  <header class="b--black-10 bb bg-white ph3 pv4">
    <h1 class="ma0 tc">
      <a href="/" class="black link">Mortadeloo</a>
    </h1>
  </header>
  {{{body}}}
  <footer class="b--black-10 bg-white bt ph3 pv4 tc">
    <p class="ma0">Puedes contribuir a este proyecto en <a href="https://github.com/durancristhian/mortadeloo" target="_blank" class="b blue link ttu">Github</a> y encontrarme en <a href="https://twitter.com/DuranCristhian" target="_blank" class="b blue link ttu">Twitter</a></p>
  </footer>
  <script defer src="/js/app.js"></script>
</body>
</html>
